.leads {
  background-color: var(--white);
  box-sizing: border-box;
  margin: 0 0 6.25rem 0;
}

.leads .leads__inner {
  width: 100%;
  box-sizing: border-box;
  padding-top: 6.5625rem;
  background-color: var(--white-dark);
  max-width: var(--max-width);
  display: flex;
  margin-inline: auto;
  flex-direction: column;
  align-items: center;
  margin-top: -5rem;

}
.leads__inner .leads__content {
  width: 70.25rem;
  margin:0 0 2.3125rem 0;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  border: 0.0625rem solid var(--gray-1);
  border-radius: 0.3125rem;
}

.leads__inner .leads__content.leads__content--right {
  flex-direction: row-reverse;
}
.leads__inner .leads__content.leads__content--transparent {
  background-color: transparent;
  column-gap: 3.8125rem;
  border: 0;
}

.leads__inner .content__leadText {
  position: relative;
  max-width: 26rem;
  margin: 5.6875rem 2.1875rem;
}

.leads__inner .content__leadText:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.25rem;
  width: 79%;
  border-bottom: 0.25rem solid var(--pink-3);
}

.leads__inner .content__leadText.content__leadText--right {
  margin: 4.375rem 1.25rem;
}

.leads__inner .content__leadText.content__leadText--right:before {
  border-bottom: 0.25rem solid var(--blue-dark);
}

.leads__inner .content__leadText.content__leadText--transparent {
  margin: 0;
  background: var(--white);
  border: 0.0625rem solid var(--gray-1);
  border-radius: 0.3125rem;
  padding: 4.375rem 2.1875rem;

}

.leads__inner .content__leadText.content__leadText--transparent:before {
  width: 60%;
  border-bottom: 0.25rem solid var(--green-dark);
}

.leads__inner .img_container {
  position: relative;
}

.img_container .content__leadImgSquare {
  position: absolute;
  display: block;
  top: 4.6875rem;
  right: 6.75rem;
  width: 11.25rem;
  height: 11.25rem;
  transform: rotate(45deg);
  background: var(--pink-3);
  border-radius: 2.5625rem;
  z-index: 10;
}

.img_container .content__leadImgCircle {
  position: absolute;
  top: 0.75rem;
  left: 4.375rem;
  width: 20rem;
  height: 20rem;
  background: var(--blue-light);
  border-radius: 50%;
}

.img_container .content__leadImg {
  position: absolute;
  z-index: 1000;
  bottom: 2.375rem;
  right: 7.3475rem;

}

.img_container .content__leadImg.content__leadImg--left {
  position: absolute;
  z-index: 1000;
  bottom: 0.8125rem;
  left: 4.375rem;

}

.leads .lead__hdl {
  color: var(--black);
  font-size: 2.25rem;
  line-height: 1.1666;
  letter-spacing: 0rem;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  margin: 0 0 1.875rem 0;
}
.lead__text {
  font-size: 1rem;
  line-height: 1.375rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  color: var(--black);
  margin: 0 0 3.125rem 0;
}

.lead__text.lead__text--lower{
  margin: 0 0 2.75rem 0;
}

.content__leadImg.leads__content--transparent {}

.leads__content .content__text {
  background: var(--white);
  border: 0.0625rem solid var(--gray-1);
  border-radius: 0.3125rem;
  margin: 0;
}

.leads__content .content__img {
  background: var(--green-dark);
  border: 0.0625rem solid var(--gray-1);
  border-radius: 0.3125rem;
}
.content__img .content__leadImg {
  margin: 6.125rem 5.125rem 4rem 3.875rem;
}
