:root {
    --white: #FFFFFF;
    --white-dark: #F7F7F7;
    --black: #000000;
    --gray-1: #E8E9ED;
    --gray-2: #00000029;
    --gray-3: #A5A5A5;
    --gray-4: #95989A;
    --gray-5: #707070;
    --gray-6: #13253B;
    --gray-7: #D1D1D1;
    --pink-1: #FF091129;
    --pink-2: #F9043629;
    --pink-3: #FB3B64;
    --pink-4: #EB476E;
    --green-light: #07ACE629;
    --green-dark: #55DFB4;
    --blue-light: #07ACE6;
    --blue-dark: #08A6E4;

    --max-width: 84.5rem;

}

html, body {
    font-size: 16px;
}

.header {
    background-color: var(--white);
    box-sizing: border-box;
    box-shadow: 0 0.1875rem 0.375rem var(--gray-2);
}

.header .header__inner {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: inline-block;
    font-family: Raleway, sans-serif;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.15625;
    color: var(--blue-dark);
    text-decoration: none;
}
.header__menu {}

.menu__item {
    display: inline-block;
    box-sizing: border-box;
    border-bottom: 0.25rem solid var(--white);
    padding: 1.5625rem 0.7468rem;
    margin-top: 0.0625rem;
    margin-left: 4.44375rem;
    text-decoration: none;
    color: var(--gray-3);
    text-align: center;
    font-size: 0.6875rem;
    line-height: 1.36;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.205rem;
    text-transform: uppercase;
    transition: all 400ms ease-in-out;
}

.menu__item:hover {
    color: var(--black);
    border-bottom: 0.25rem solid var(--blue-dark);
}

.hero {
    background-color: var(--white);
    background-image: url("../images/background.png");
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: 0.375rem;
    box-sizing: border-box;
}
.hero .hero__inner {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    margin-inline: auto;
    flex-direction: column;
    align-items: center;
}
.hero .hero__inner .hero__hdl {
    margin: 7.75rem 0 0 0;
    color: var(--black);
    font-size: 3.0625rem;
    line-height: 1.1632;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}
.hero .hero__inner .hero__lead {
    margin: 1.25rem 0 0 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.375;
    font-weight: 400;
}
.hero .hero__inner .hero__btn {
    margin-top: 2.375rem;
    display: inline-block;
    background-color: var(--blue-dark);
    border-radius: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: var(--white);
    text-decoration: none;
    padding: 1.375rem 9.8125rem;
    line-height: 1.375;
    font-weight: 400;
    box-shadow: 0.3125rem .625rem 0.875rem var(--green-light);
    transition: all 400ms ease-in-out;
}

.hero .hero__inner .hero__btn:hover {
    color: var(--blue-dark);
    background-color: var(--white);
}

.stats {
    background-color: var(--white);
    box-sizing: border-box;
    margin: 0 0 14.125rem 0;
}
.stats .stats__inner {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    margin-inline: auto;
    flex-direction: column;
    align-items: center;
    margin-top: -5rem;

}
.stats .stats__hdl {
    margin: 7.75rem 0 0 0;
    color: var(--black);
    font-size: 2.25rem;
    line-height: 1.1666;
    letter-spacing: 0;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}
.stats .stats__container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 11.5rem;
}

.stats__content {
    width: 100%;
    max-width: 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6.3125rem 0 0 0;
}

.content__circle {
    position: relative;
    display: block;
    background-color: var(--pink-3);
    width: 3.919375rem;
    height: 3.919375rem;
    border-radius: 3.919375rem;
    margin-bottom: 0.8125rem;
}

.content__circle .content__img {
    position: absolute;
    top: 50%;
    transform: translate(70%, -50%);
}

.content__circle .content__img.content__img--blue {
    transform: translate(32%, -50%);
}
.content__circle .content__img.content__img--green {
    transform: translate(65%, -50%);
}

.stats__content .content__circle.content__circle--blue {
    background-color: var(--blue-dark);
}

.stats__content .content__circle.content__circle--green {
    background-color: var(--green-dark);
}

.stats__content .content__count {
    color: var(--black);
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    letter-spacing: 0.3725rem;
    text-align: center;
    margin: 0 0 1.1875rem 0;
}
.stats__content .content__desc {
    color: var(--gray-3);
    font-size: 1.0625rem;
    line-height: 1.25;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0;
    text-align: center;
    margin:0;
}

.leads {
    background-color: var(--white);
    box-sizing: border-box;
    margin: 0 0 6.25rem 0;
}

.leads .leads__inner {
    width: 100%;
    box-sizing: border-box;
    padding-top: 6.5625rem;
    background-color: var(--white-dark);
    max-width: var(--max-width);
    display: flex;
    margin-inline: auto;
    flex-direction: column;
    align-items: center;
    margin-top: -5rem;

}
.leads__inner .leads__content {
    width: 70.25rem;
    margin:0 0 2.3125rem 0;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    border: 0.0625rem solid var(--gray-1);
    border-radius: 0.3125rem;
}

.leads__inner .leads__content.leads__content--right {
    flex-direction: row-reverse;
}
.leads__inner .leads__content.leads__content--transparent {
    background-color: transparent;
    column-gap: 3.8125rem;
    border: 0;
}

.leads__inner .content__leadText {
    position: relative;
    max-width: 26rem;
    margin: 5.6875rem 2.1875rem;
}

.leads__inner .content__leadText:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.25rem;
    width: 79%;
    border-bottom: 0.25rem solid var(--pink-3);
}

.leads__inner .content__leadText.content__leadText--right {
    margin: 4.375rem 1.25rem;
}

.leads__inner .content__leadText.content__leadText--right:before {
    border-bottom: 0.25rem solid var(--blue-dark);
}

.leads__inner .content__leadText.content__leadText--transparent {
    margin: 0;
    background: var(--white);
    border: 0.0625rem solid var(--gray-1);
    border-radius: 0.3125rem;
    padding: 4.375rem 2.1875rem;

}

.leads__inner .content__leadText.content__leadText--transparent:before {
    width: 60%;
    border-bottom: 0.25rem solid var(--green-dark);
}

.leads__inner .img_container {
    position: relative;
}

.img_container .content__leadImgSquare {
    position: absolute;
    display: block;
    top: 4.6875rem;
    right: 6.75rem;
    width: 11.25rem;
    height: 11.25rem;
    transform: rotate(45deg);
    background: var(--pink-3);
    border-radius: 2.5625rem;
    z-index: 10;
}

.img_container .content__leadImgCircle {
    position: absolute;
    top: 0.75rem;
    left: 4.375rem;
    width: 20rem;
    height: 20rem;
    background: var(--blue-light);
    border-radius: 50%;
}

.img_container .content__leadImg {
    position: absolute;
    z-index: 1000;
    bottom: 2.375rem;
    right: 7.3475rem;

}

.img_container .content__leadImg.content__leadImg--left {
    position: absolute;
    z-index: 1000;
    bottom: 0.8125rem;
    left: 4.375rem;

}

.leads .lead__hdl {
    color: var(--black);
    font-size: 2.25rem;
    line-height: 1.1666;
    letter-spacing: 0rem;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    margin: 0 0 1.875rem 0;
}
.lead__text {
    font-size: 1rem;
    line-height: 1.375rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0;
    color: var(--black);
    margin: 0 0 3.125rem 0;
}

.lead__text.lead__text--lower{
    margin: 0 0 2.75rem 0;
}

.content__leadImg.leads__content--transparent {}

.leads__content .content__text {
    background: var(--white);
    border: 0.0625rem solid var(--gray-1);
    border-radius: 0.3125rem;
    margin: 0;
}

.leads__content .content__img {
    background: var(--green-dark);
    border: 0.0625rem solid var(--gray-1);
    border-radius: 0.3125rem;
}
.content__img .content__leadImg {
    margin: 6.125rem 5.125rem 4rem 3.875rem;
}

.pricing {
    background-color: var(--white);
    box-sizing: border-box;
    margin: 0 0 7.5625rem 0;
}
.pricing .pricing__inner {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--white);
    max-width: var(--max-width);
    display: flex;
    margin-inline: auto;
    flex-direction: column;
    align-items: center;
}

.pricing .pricing__hdl {
    color: var(--black);
    font-size: 2.25rem;
    line-height: 1.1666;
    letter-spacing: 0rem;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    margin: 0 0 1.875rem 0;
}

.pricing .priceList {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 3.625rem;
}

.pricing .pricing__option {
    box-sizing: border-box;
    width: 100%;
    max-width: 23.25rem;
    height: calc(100% * 1.24);
    position: relative;
    background: var(--white);
    border: 0.0625rem solid var(--pink-3);
    border-radius: 1.125rem;
    text-align: center;
}

.pricing .pricing__option.pricing__option--pro {
    width: 100%;
    max-width: 25.3125rem;
    border: 0.0625rem solid var(--blue-light);
    box-shadow: 0.3125rem 0.625rem 1.6875rem var(--green-light);
}

.pricing .pricing__option.pricing__option--premium {
    border: 0.0625rem solid var(--green-dark);
}

.pricing__option .option__name {
    font: normal normal bold 1.25rem/0.0625rem Raleway;
    letter-spacing: 0;
    color: var(--gray-6);
    margin: 2.125rem 0 2.875rem 0;
}
.pricing__option .option__price {
    font: normal normal 300 2.875rem/0.125rem Open Sans;
    letter-spacing: 0;
    color: var(--pink-3);
    margin: 0 0 1.875rem 0;
}

.pricing__option .option__price.option__price--pro {
    color: var(--blue-light);
}
.pricing__option .option__price.option__price--premium {
    color: var(--green-dark);
}

.pricing__option .option__remark {
    font-size: 0.75rem;
    line-height: 0.0625;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0;
    color: var(--gray-6);
    margin: 0 0 3.5rem 0;
}
.pricing__option .option__capacity {
    font-size: 0.875rem;
    line-height: 2.5625;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0;
    color: var(--black);
    margin: 0 0 1.25rem 0;
}
.pricing__option .option__domains {
    font-size: 0.875rem;
    line-height: 2.5625;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0;
    color: var(--black);
    margin: 0 0 1.25rem 0;
}
.pricing__option .option__emails {
    font-size: 0.875rem;
    line-height: 2.5625;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0;
    color: var(--black);
    margin: 0 0 1.25rem 0;
}
.pricing__option .option__licensing {
    font-size: 0.875rem;
    line-height: 2.5625;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0;
    color: var(--black);
    margin: 0 0 1.25rem 0;
}
.pricing__option .option__support {
    font-size: 0.875rem;
    line-height: 2.5625;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0;
    color: var(--black);
    margin: 0 0 5.0625rem 0;
}
.pricing__option .pricing__btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: inline-block;
    background: var(--pink-4);
    padding: 0.53125rem 3.5625rem;
    border-radius: 1.4375rem;
    font-size: 0.8125rem;
    line-height: 2.5625;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    letter-spacing: 0;
    color: var(--white);
}
.pricing__option .pricing__btn.pricing__btn--pro {
    background-color: var(--blue-light);
    padding: 0.53125rem 4rem;
}

.pricing__option .pricing__btn.pricing__btn--premium {
    background-color: var(--green-dark);
}

.pricing__option--pro .biggerSmallMargin {
    margin: 0 0 1.5625rem 0;
}

.pricing__option--pro .biggerRemarkMargin {
    margin: 0 0 4.1875rem 0;
}

.option__ticker::before {
    content: "";
    display: inline-block;
    background-image: url("../images/checkmark.svg");
    background-size: 0.3125rem 0.3125rem;
    background-repeat: no-repeat;
    background-position: center;
    width: 0.6875rem;
    height: 0.6875rem;
    border: 0.0625rem solid var(--green-dark);
    border-radius: 0.125rem;
    margin-right: 0.3125rem;
}

.pricing .pricing__option .option__not {}

.pricing .pricing__option .option__not::before {
    content: "x";
    color: var(--pink-4);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 0.5625rem;
    width: 0.6875rem;
    height: 0.6875rem;
    border: 0.0625rem solid var(--pink-4);
    margin: 0 0.3125rem 0 0;
    padding:0;
    border-radius: 0.125rem;
}

.question {
    margin-bottom: 2.5rem;
}
.question__inner {
    width: 100%;
    max-width: 56rem;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}

.question__info {}
.question__info .info__hdl {
    margin: 0 0 1.375rem 0;
    font-family: 'Raleway', sans-serif;
    font-size: 3.0625rem;
    line-height: 1.163;
    color: var(--black);
}
.question__info .info__lead {
    margin: 0 0 2.625rem 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.375;
    color: var(--black);
}
.question__info .info__contact {
    display: flex;
    justify-content: space-between;
}

.info__contact .info__email {
    position: relative;
    padding-left: 2.3125rem;
    text-decoration: none;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.375;
    font-weight: 600;
    color: var(--gray-3);
    letter-spacing: 0;
}

.info__contact .info__email::before {
    position: absolute;
    left: 0;
    top: -0.125rem;
    content: url("../images/mail_icon.svg");
    margin-right: 0.625rem;
}

.info__contact .info__phone {
    margin: 0;
    padding-right: 0.625rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.375;
    font-weight: 600;
    color: var(--gray-3);
    letter-spacing: 0;
    position: relative;
}

.info__contact .info__phone::before {
    position: absolute;
    left: -2.1875rem;
    content: url("../images/phone_icon.svg");
    margin-right: 0.625rem;
}

.question__form {
    width: 100%;
    max-width: 27.5rem;
}

.contactForm {
    display: flex;
    flex-direction: column;
}
.name__lbl {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.6875rem;
    font-weight: 700;
    line-height: 1.3636;
    letter-spacing: 0.205rem;
    text-transform: uppercase;
    color: var(--blue-dark);
}
.name_input {
    height: 1.875rem;
    border: none;
    border-bottom: 0.1875rem solid var(--gray-2);
    margin-bottom: 1.875rem;
}
.email__lbl {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.6875rem;
    font-weight: 700;
    line-height: 1.3636;
    letter-spacing: 0.205rem;
    text-transform: uppercase;
    color: var(--blue-dark);
}
.email__input {
    height: 1.875rem;
    border: none;
    border-bottom: 0.1875rem solid var(--gray-2);
    margin-bottom: 1.875rem;
}

.checkbox__lbl {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 20px 34px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.4167;
    color: var(--gray-5);
    cursor: pointer;
}

.checkbox__lbl input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox__lbl .checkbox-icon {
    position: absolute;
    top: 0;
    left: -34px;
    display: block;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border: 1px solid #95989A;
    border-radius: 4px;
}

.checkbox__lbl input[type="checkbox"]:checked + .checkbox-icon::before {
    content: "\2714";
    display: block;
    font-size: 16px;
    color: #08A6E4;
    text-align: center;
    line-height: 20px;
}

.checkbox__lbl input[type="checkbox"]:checked + .checkbox-icon {
}

.contactForm__btn {
    display: inline-block;
    align-self: flex-end;
    padding: 1.25rem 6.0625rem;
    background-color: var(--blue-dark);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8125rem;
    line-height: 1.3846;
    font-weight: 700;
    color: white;
    border: 0;
    box-shadow: 0.3125rem 0.625rem 0.875rem var(--green-light);
    border-radius: 2.1875rem;
    cursor: pointer;
}

.footer {
    background-color: var(--white-dark);
    box-shadow: 0 -0.3125rem 2.5rem var(--gray-2);
    margin-top: 3.6875rem;
}
.footer .footer__inner {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.footer__inner .footer__left {}
.footer__inner .footer__right {
    display: flex;
    align-self: center;
    column-gap: 1.25rem;
}
.footer__left .logo {
    font-family: 'Raleway', sans-serif;
    font-size: 1.625rem;
    line-height: 1.1538;
    font-weight: 300;
    letter-spacing: 0;
    color: var(--blue-dark);
    margin:0;
    padding: 1.25rem 0 0.4375rem 0;
}
.footer__left .copyright {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.6875rem;
    line-height: 1.3636;
    font-weight: 400;
    letter-spacing: 0;
    color: var(--gray-3);
    margin:0;
    padding: 0 0 1.0625rem 0;
}

.footer__right .logo__outer {
    display: block;
}


