:root {
  --white: #FFFFFF;
  --white-dark: #F7F7F7;
  --black: #000000;
  --gray-1: #E8E9ED;
  --gray-2: #00000029;
  --gray-3: #A5A5A5;
  --gray-4: #95989A;
  --gray-5: #707070;
  --gray-6: #13253B;
  --gray-7: #D1D1D1;
  --pink-1: #FF091129;
  --pink-2: #F9043629;
  --pink-3: #FB3B64;
  --pink-4: #EB476E;
  --green-light: #07ACE629;
  --green-dark: #55DFB4;
  --blue-light: #07ACE6;
  --blue-dark: #08A6E4;

  --max-width: 84.5rem;

}
